name: at_root
on:
  push:
    branches:
      - trunk
    paths:
      - at_root/**
jobs:
  Docker_Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2

      # Extract branch for docker tag
      - name: Get branch name
        run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build the Docker image for Dev
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: at_root/at_root_server/Dockerfile
          context: at_root/at_root_server
          push: true
          tags: |
            atsigncompany/root:dev_env
            atsigncompany/root:dev_env-${{ env.BRANCH }}-gha${{ github.run_number }}

  Deploy_On_Dev_K8:
      needs: Docker_Build
      runs-on: ubuntu-latest
      steps:
        # Extract branch for docker tag
        - name: Get branch name
          run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

        # Setup gcloud CLI
        - uses: google-github-actions/setup-gcloud@v0.6.0
          with:
            service_account_key: ${{ secrets.GKE_SA_DEV_KEY }}
            project_id: ${{ secrets.GKE_DEV_PROJECT }}

        # Get the GKE credentials so we can deploy to the cluster
        - uses: google-github-actions/get-gke-credentials@v0.8.0
          with:
            cluster_name: ${{ secrets.GKE_DEV_CLUSTER }}
            location: ${{ secrets.GKE_DEV_ZONE }}
            credentials: ${{ secrets.GKE_SA_DEV_KEY }}

        # Deploy the Docker image to the GKE cluster
        - name: Deploy
          run: |-
            kubectl -n root set image statefulset root root=atsigncompany/root:dev_env
