name: at_root
on:
  push:
    tags:
      - 'r*.*.*'
    paths:
      - at_root/**
jobs:
  Docker_Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2

      # Extract branch for docker tag
      - name: Get branch name
        run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build the Docker image for Dev
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          file: at_root/at_root_server/Dockerfile
          context: at_root/at_root_server
          push: true
          tags: |
            atsigncompany/root:prod
            atsigncompany/root:prod-${{ env.BRANCH }}-gha${{ github.run_number }}

  Deploy_On_Prod_K8:
    needs: Docker_Build
    runs-on: [self-hosted, linux, x64, K8s]
    steps:
      # Extract branch for docker tag
      - name: Get branch name
        run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@v0.6.0
        with:
          service_account_key: ${{ secrets.GKE_SA_PROD_KEY }}
          project_id: ${{ secrets.GKE_PROD_PROJECT }}

      # Get the GKE credentials so we can deploy to the cluster
      - uses: google-github-actions/get-gke-credentials@v0.8.0
        with:
          cluster_name: ${{ secrets.GKE_PROD_CLUSTER }}
          location: ${{ secrets.GKE_PROD_ZONE }}
          credentials: ${{ secrets.GKE_SA_PROD_KEY }}

      # Deploy the Docker image to the GKE cluster
      - name: Deploy
        run: |-
          kubectl -n root set image deployment/root root=atsigncompany/root:prod
